// **************************************
// Placeholders
// **************************************

%nav-link{
    text-decoration: none;
    color: $color-main;
}

%ctr-img{
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}