// **************************************
// GLOBAL VARIABLES
// **************************************
/*-----Descriptive Color Variables-----*/
$white: #fff;
$black: #000;
$grey: #878787;
$tire-wheel: #2F2F2F;
$silver-surfer: #DBDBDB;
$deep-koamaru: #111E6C;
$sunflower: #FFBF00;

$bright-sky: #9DE5FF;
$the-hulk: #3B7A57;
$algae-green: #93DFB8;
$amethyst-smoke: #A397B4;
$barney: #714693;
$bone: #D4C4A8;
$almond: #EED9C4;
$grey-poupon: #AF8F2C;
$apple-blossom: #AF4D43;
$apricot: #EB9373;
$burnt-orange: #DA6304;
$bean: #3D0C02;
$bubblegum: #EEC1BE;

/*-----Functional Color Variables-----*/
$color-main: $deep-koamaru;
$color-main-transparent: rgba($color-main, .5);
$color-main-light: lighten($color-main, 3%);
$color-main-lightest: lighten($color-main, 50%);
$color-main-dark: darken($color-main, 15%);
$color-secondary: $silver-surfer;
$color-accent: $sunflower;

//background colors
$color-bg: $silver-surfer;
$color-bg-dark: darken($silver-surfer, 20%);
$color-bg-darkest: $tire-wheel;
$color-bg-light: lighten($silver-surfer, 10%);
$color-shadow: rgba($black, .5);

//Link colors
$color-link-default: $silver-surfer;
$color-link-active: $silver-surfer;
$color-link-hover: $sunflower;
$color-link-visited: $silver-surfer;

//Border Colors
$color-border-light: $color-accent;
$color-border-dark: $color-main;

//Headings & Paragraph Colors
$color-text-light: $white; 
$color-text-base: $grey;
$color-text-dark: $tire-wheel;

//Button Colors
$color-link-button-default: $color-main;
/*
I won't be using these variables for this project
// $button-success: #09E827;
// $button-error: #D13219;
// $button-warning: #FF760D;
// $button-info: #693D80;
*/
//layout
$max-width: 1200px;
$gutter: 15px;
$header-height: 100px;
$footer-height: 100px;

//Font Stacks 
$font-stack-montserrat: 'Montserrat', sans-serif;
$font-stack-roboto: 'Roboto', sans-serif;
$base-font-size: 16px;

//border radius
$soft-curve: 5px;
$moderate-curve: 15px;
$hard-curve: 25px;
$full-circle: 50%;

//Breakpoint Sizes
$mobile-view: 320px;
$tablet-view: 768px;
$desktop-view: 1024px;

// Media Query Breakpoint Map
$breakpoints: (
'sm': $mobile-view,    
'md': $tablet-view,
'lg': $desktop-view,
);
