// **************************************
// BUTTON STYLES
// **************************************

//button styles for project card overlay section
.btn__overlay{
    background: transparent;
    outline: none;
    border: 3px solid $color-main;
    color: $color-main;
    text-transform: uppercase;
    margin-bottom: 1.5em; 
    font-size: 1em;
    font-weight: 900;
    letter-spacing: .5px;
    width: 70%;
    transition: background .4s ease-in;
    &:hover{
        background: $color-main;
        text-decoration: none;
        color: $white;
    }
}