// **************************************
// BUTTON STYLES
// **************************************

//view more button styles


.btn__overlay{
    background: transparent;
    outline: none;
    border: 3px solid $color-main;
    color: $color-main;
    text-transform: uppercase;
    margin-bottom: 1.5em; 
    width: 60%;
    font-size: 1em;
    font-weight: 900;
    padding: 8px;
    letter-spacing: .5px;
    transition: background .6s ease-in;
    &:hover{
        background: $color-main; 
        color: $white;
    }
}