// **************************************
// HEADER STYLES
// **************************************

.header__container{
  box-shadow: 0 8px 7px -3px $silver-surfer;
}

//hexagon icon styles for mobile and tablet but are not displayed in desktop view
.hex-icon{
  padding: .5em;
  width: 83px;
  height: 83px;
  @include mq('lg'){
    padding: 1em 3em 1em 1em;
    width: 140px;
    height: 140px;
    display: none;
  }
}

//hamburger white line styles for mobile and tablet but are not displayed in desktop view
    //the 3 horizontal hamburger lines
    .line{
    position: absolute;
    margin-left: 26px;
    top: 48px;
    height: 3px;
    width: 35px;
    background: $white;
    border-radius: 12px;
    transition: all 0.3s ease;
    @include mq('lg'){
      margin-left: 38px;
      display: none;
    }
  }
  
  //The first horizontal hamburger line
  .line1{
    transform:translateY(-8px);
    width: 30px;
  }

  //The third horizontal hamburger line
  .line3{
    transform:translateY(8px);
    width: 30px;
  }
  
  //when clicked the 1st line turns and shifts clockwise
  .change .line1{
    transform: translateY(5px) rotate(-45deg) scale(1.2);
    margin-top: -6px;
    margin-left: 26px;
    @include mq('lg'){
      margin-left: 39px;
    }

  }
  
  //when clicked the second hamburger line disappears
  .change .line2{
    opacity: 0;
  }
  
  //when clicked the 3rd line turns and shifts clockwise forming the X look
  .change .line3{
    transform: translateY(5px) rotate(45deg) scale(1.2);
    margin-top: -6px;
    margin-left: 26px;
    @include mq('lg'){
      margin-left: 39px;
    }
  }