
.flex__container{
    @include flex_me($vertAlign:center);
}

.hex-icon{
    padding: .5em 1em 1em 1em;
    width: 95px;
    height: 95px;
}
    //the 3 horizontal hamburger lines
    .line{
    position: absolute;
    margin-left: 32px;
    top: 43px;
    height: 3px;
    width: 35px;
    background: $white;
    border-radius: 12px;
    transition: all 0.3s ease;
  }
  
  //The first horizontal hamburger line
  .line1{
    transform:translateY(-8px);
    width: 30px;
  }

  //The third horizontal hamburger line
  .line3{
    transform:translateY(8px);
    width: 30px;
  }
  
  //when clicked the 1st line turns and shifts clockwise
  .change .line1{
    transform: translateY(5px) rotate(-45deg) scale(1.2);
    margin-top: -5px;
    margin-left: 32px;

  }
  
  //when clicked the second hamburger line disappears
  .change .line2{
    opacity: 0;
  }
  
  //when clicked the 3rd line turns and shifts clockwise forming the X look
  .change .line3{
    transform: translateY(5px) rotate(45deg) scale(1.2);
    margin-top: -5px;
    margin-left: 32px;
  }