// **************************************
// IMAGE STYLES
// **************************************
.img__banner{
    @extend %ctr-img;
    filter: brightness(0.5);
}
.img__bio{
    @extend %ctr-img;
}
.card-img-top{
    @extend %ctr-img;
    max-height: 300px;
}
.img__person{
    @extend %ctr-img;
    @include roundy($dim:125px, $border: 1px solid $color-border-dark);
    
}

.bio__img{
    @include mq('md'){
      flex: 1 30%;
      overflow: hidden;
    }
  }

.footer__icons{
    width: 100px;
    height: 100px;
    padding: 1em;
}

