// **************************************
// IMAGE STYLES
// **************************************


//Center and contain all images on page
.img__banner,
.img__bio,
.img__person,
.card-img-top{
    @extend %ctr-img;
}

//banner image styles
.img__banner{
    filter: brightness(0.5);
}

.card-img-top{
    height: 50%;
}

.img__person{
    @include roundy($dim:125px, $border: 1px solid $color-border-dark);
    
}


.footer__icons{
    width: 100px;
    height: 100px;
    padding: 1em;
}

