// **************************************
// LAYOUT STYLES
// **************************************
.layout__container{
    @include mq('md'){
       @include flex_me($wrap:wrap);
    }  
} 

.connect__wrapper{
    @include flex_me($just:center);
}

// .main__grid--container{

// }

//Layed out card with CSS Grid 
.grid__row--card{
    display: grid;
    min-height: 100%;
    grid-template-columns: 100%; 
    grid-gap: 1em;
    grid-template-rows: auto auto 1fr auto;
    @include mq('md'){
        width: 100%;
        grid-template-columns: repeat(2, 1fr); 
  } 
  @include mq('lg'){
    grid-template-columns: repeat(3, 1fr); 
}   
}

