// **************************************
// LAYOUT STYLES
// **************************************

/*------FLEXBOX LAYOUT STYLES-----------*/

//header flex styles
.header__container{
    @include flex_me($vertAlign:center);
  }

//about me bio flex styles
.bio__container{
    @include mq('md'){
       @include flex_me();
    }  
} 

//header navigation flex styles
  .header__nav--wrapper{
    @include flex_me($just:flex-end, $vertAlign:center);
}

.tertiary__wrapper{
  margin-top: 1em;
  @include flex_me($just:center, $vertAlign:center);
}

.reviews__wrapper{
  padding-top: 2em;
}

//project card flex styles
.card{
    @include flex_me($dir:column, $vertAlign: center);
  }

//social media container flex styles
.connect__wrapper{
    @include flex_me($dir:column, $vertAlign:center, $just:center);
    @include mq('md'){
      @include flex_me($dir:row);
    } 
  }

/*------GRID LAYOUT STYLES-----------*/

//Layed out card with CSS Grid 
.grid__row--card{
    display: grid;
    min-height: 100%;
    grid-template-columns: 100%; 
    grid-gap: 1em;
    grid-template-rows: auto auto 1fr auto;
    @include mq('md'){
        width: 100%;
        grid-template-columns: repeat(2, 1fr); 
  } 
  @include mq('lg'){
    grid-template-columns: repeat(3, 1fr); 
}   
}

