// **************************************
// MAIN PAGE STYLES
// **************************************
//banner image overlay styles
#banner{
    position: relative;
    z-index: 1;
      &::after{
          bottom: 0;
          transform: skewY(-1.5deg)
      }
}

#banner::after{
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}



.bg__overlay{
   background: rgba($white, .4);
   position: absolute; 
   width: 45%;
    top: 50%;
    left: 50%;
   border-radius: 15px;
}

.bio__wrapper{
    padding: 0 1em;
}

//Project Card Styles

.card{
  @include flex_me($dir:column, $vertAlign: center);
  overflow: hidden;
  position: relative;
  background:$color-bg-light;  
  width: 80%;
  margin: 2em auto;  
  border-radius: 10px 10px 0 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  & ul{
     margin-bottom: 1em; 
  }
}

.card li{
    margin-bottom: .5em;
    text-transform: uppercase;
    text-align: center;
}

.card__overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  background: $white; 
  @include flex_me($dir:column, $just:center, $vertAlign:center);
}

.card__overlay,
.card-img-top,
figcaption{
  transition: transform .8s ease-out;
}

.card__overlay{
  transform: translateX(-100%);
  @include flex_me($dir:column, $just:center, $vertAlign:center);
}

.card:hover .card__overlay,
.card:hover figcaption{
    transform: translateX(0);
}

.card:hover .card-img-top,
.card:hover figcaption{
  transform: translateX(100%);
}

.title__overlay{
    font-size: 1.2em;
    text-transform: uppercase;
}

//References Styles
#references{
  padding: 0 1em;
}
