// **************************************
// MAIN PAGE STYLES
// **************************************
#about__me{
  height: 100%;
}

#skills{
  margin-top: 1.5em;
  padding: 0 1em;
}

.skills{
  @include mq('lg'){
    flex-basis: 35%;
    margin: 0 auto;
  }
}

.skills li{
  margin: 2em 0;
  list-style-type: none;
}

.bar{
  background: transparent;
  border-radius: 5px;
  display: block;
  height: 19px;
  border: 2px solid $color-main;
  box-shadow: 0 1px 5px #333;
  & span{
    height: 15px;
    float: left;
    background: $color-accent;
    border-radius: 5px;
  }
}

.html{
  width: 90%;
  animation: html 2s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

.css{
  width: 80%;
  animation: css 2s;
}

@keyframes css {
  0% {
    width: 0%;
  }
  100%{
    width: 80%;
  }
}

.js{
  width: 65%;
  animation: js 2s;
}

@keyframes js {
  0% {
    width: 0%;
  }
  100%{
    width: 65%;
  }
}


.jquery{
  width: 70%;
  animation: jquery 2s;
}

@keyframes jquery {
  0% {
    width: 0%;
  }
  100%{
    width: 70%;
  }
}

.bootstrap{
  width: 75%;
  animation: bootstrap 2s;
}

@keyframes bootstrap {
  0% {
    width: 0%;
  }
  100%{
    width: 75%;
  }
}

.git{
  width: 70%;
  animation: git 2s;
}

@keyframes git {
  0% {
    width: 0%;
  }
  100%{
    width: 70%;
  }
}

.github{
  width: 50%;
  animation: github 2s;
}

@keyframes github {
  0% {
    width: 0%;
  }
  100%{
    width: 50%;
  }
}

.vscode{
  width: 85%;
  animation: vscode 2s;
}

@keyframes vscode {
  0% {
    width: 0%;
  }
  100%{
    width: 85%;
  }
}

.adobe{
  width: 65%;
  animation: adobe 2s;
}

@keyframes adobe {
  0% {
    width: 0%;
  }
  100%{
    width: 65%;
  }
}

.mysql{
  width: 50%;
  animation: mysql 2s;
}

@keyframes mysql {
  0% {
    width: 0%;
  }
  100%{
    width: 50%;
  }
}

.bg__overlay{
   background: rgba($white, .4);
   position: absolute; 
   width: 45%;
   top: 50%;
   left: 50%;
   border-radius: 15px;
}

.bio__wrapper{
  position: relative;
  width: 100%;
  z-index: 5;
  @include mq('md'){
      flex: 2 55%;
    }
  @include mq('lg'){
      flex-basis: 60%;
    }
}

.bio__img--wrapper{
  @include mq('md'){
    flex: 1 45%;
  }
  @include mq('lg'){
    flex-basis: 40%;
  }
}

.bio__wrapper::before,
.bio__wrapper::after{
  position: absolute;
  content: '';
  background: $white;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.bio__wrapper::before{
  transform-origin: top left;
  transform: skewY(-10deg);
  @include mq('md'){
    transform: skewY(0deg) skewX(-12deg);
    transform-origin: bottom left;
    
  }
}

.bio__wrapper::after{
  transform-origin: top right;
  transform: skewY(10deg);
  @include mq('md'){
    transform: skewY(0deg);
  }
}

//Project Card Styles

.card{
  overflow: hidden;
  position: relative;
  background:$color-bg-light;  
  width: 80%;
  margin: 2em auto;  
  border-radius: 10px 10px 0 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  & ul{
     margin-bottom: 1em; 
  }
}


.card li{
    font-size: .9em;
    margin-bottom: .5em;
    text-transform: uppercase;
    text-align: center;
}

.card__overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  background: $white; 
  @include flex_me($dir:column, $just:flex-start, $vertAlign:center);
  transform: translateX(-100%);
}

.card__overlay,
.card-img-top,
figcaption{
  transition: transform .8s ease-out;
}


.card:hover .card__overlay,
.card:hover figcaption{
    transform: translateX(0);
}

.card:hover .card-img-top,
.card:hover figcaption{
  transform: translateX(100%);
}

//References Styles
#references{
  padding: 0 1em;
}

//Styling for last review (Nestor Padilla)
.col-lg-4:last-child{
  @include mq('md'){
    flex-basis: 50%;
    margin: 0 auto;
  }
}

//Flex-Box styling for Let's Get Connected section
.connect__wrapper{
  @include flex_me($dir:column, $vertAlign:center);
  @include mq('md'){
    @include flex_me($dir:row);
  } 
}
