// **************************************
// NAVIGATION STYLES
// **************************************

//mobile nav container styles
// .nav__container{
//     @include flex_me($vertAlign:center);
// }
.header__nav--bar{
    display: none;
    @include mq('lg'){
        display: block;
        width: 100%;
        height: inherit;
    }
}

.header__nav--wrapper{
    @include flex_me($just:flex-end, $vertAlign:center);
    height: inherit;
    width: 100%;
}

.header--nav__link{
    padding: 2.39em 1em;
}
//nav styles 
.nav__bar{
    z-index: 50;
    position:fixed;
    right: 0;
    width: 205px;
    margin-top: -1033px;
    transition: margin-top .7s ease-in;
    @include mq ('md'){
        width: 200px;
    }
    @include mq ('lg'){
        display: none;
    }
}


 .show__nav{
    margin-top: 0;
    transition: margin-top .5s ease-out;
    @include mq('lg'){
        display: none;
    }
 }

//main nav <ul> styles
.nav__wrapper{
    background: rgba($color-main-dark, .7);
    border-radius: 0 0 0 25px;
    @include flex_me($dir:column);
}

//main nav <li> styles
.nav__item{
    @include flex_me();
    width: 100%;
    padding: 1.8em;
    &:hover{
        background: $color-main-light;
    }
}

//mobile & tablet link styles
.header--nav__link,
.nav__link{
    @include link_styles($link:$color-link-default, 
                         $visited:$color-link-visited, 
                         $hover:$color-link-hover,
                         $active:$color-link-active
                         );
    text-transform: uppercase;
    text-decoration: none;
}



// main nav SVG icons
.nav__icon{
        fill: $color-accent;
        width: 20px;
        height: 20px;  
        margin-right: 1em;
}

