.header__container{
    z-index: 3;
    @include flex_me($vertAlign:center);
}

.nav__bar{
    z-index: 2;
    position:fixed;
    right: 0;
    width: 200px;
    margin-top: -1033px;
    transition: margin-top .7s ease-in;
    @include mq ('md'){
        width: 200px;
    }
}

 .show__nav{
    margin-top: 0;
    transition: margin-top .5s ease-out;
 }

.nav__wrapper{
    background: $color-main-dark;
    border-radius: 0 0 0 25px;
    @include flex_me($dir:column);
}

.nav__item{
    width: 58%;
    margin: 0 auto auto 84px;
    padding: 1em 0;
    align-self: center;
    &:hover{
        background: $color-main-light;
    }
}


.nav__link{
    @include link_styles($link:$color-link-default, 
                         $visited:$color-link-visited, 
                         $hover:$color-link-hover,
                         $active:$color-link-active
                         );
    text-transform: uppercase;
    text-decoration: none;
}

