// **************************************
// TYPOGRAPHY STYLES
// **************************************

//h1 styles
.title__primary{
    @include text-prop($size:1.28em, $f-weight:400, $color:$color-text-light);
    @extend %text-modules;
    @include mq('md'){
        @include text-prop($size:2.5em, $f-weight:500);
    }
    @include mq('lg'){
        @include text-prop($size:1.1em);
        text-align: center;
    }
}

//h2 styles
.title__secondary{
    @include text-prop($size:1.2em, $f-weight:500, $color:$color-main-dark);
    @extend %text-modules;
    text-align: center;
    &::after{
        content: "\003e";
        @extend %psuedo-sec-title;
    }
    &::before{
        content: "\003c";
        @extend %psuedo-sec-title;
    }
    @include mq('md'){
        @include text-prop($size:1.3em, $l-height: 1.5);
    }
    @include mq('lg'){
        @include text-prop($size:1.6em);
    }
}

//First h2 subtitle styles
.title__bio{
    position: relative;
    top: -20px;
    @include mq('md'){
        top: 0;
    }
}

.title__tertiary{
    @include text-prop($size: 1.4em);
}

/*----CONTEXT STYLES----*/

.content__banner{
    padding: 0 0 .5em .5em;
    @include text-prop($size:1em, $f-weight:800, $color: $color-text-light);
    text-align: center;
    @include mq('md'){
        @include text-prop($size:1.4em, $f-weight:bold);
    }
    @include mq('lg'){
        @include text-prop($size:1.8em, $f-weight:900);
    }
}

.content__banner:nth-of-type(1n+2){
    position: relative;
    right: 0;
}

// Content in the About Me Section 
.content__bio{
    @include text-prop($size:1em, $l-height:1.6);
    text-align: center;
    padding-bottom: 1em;
    @include mq('md'){
        @include text-prop($size:.8em, $l-height:1.5);
        padding-left: 2em;
        text-align: left;
    }
    @include mq('lg'){
        @include text-prop($size:1.1em);
    }
}

// Styles for project title & content tags
.title__overlay{
    margin-top: .6em;
}

.card-title{
    text-align: center;
}

.review__name{
    @include text-prop($size:1em, $f-weight:600);
    
}

.review__title,
.review__company{
    @include text-prop($size:1em, $f-weight:700, $l-height:1);
    width: 90%;
    margin: 0 auto;
}

.review__text{
    text-align: center;
    padding-top: 1em;
    @include mq('md'){
        text-align: left;
    }
}

.card-title{
    @include text-prop($size:1.1em, $f-weight:600);
    padding: 0em;
}

.card-text{
    font-weight: 300;
    padding: 0em .5em;
}

//overlay title styles
.title__overlay{
    font-size: 1.2em;
    text-transform: uppercase;
}

//contact title styles
.contact__title{
    text-align: center;
}

.social__name{
    margin-top: -1em;
    color: $color-text-dark;
}

//styles for footer content
.footer__text{
    text-transform: uppercase;
}