// **************************************
// BASE STYLES
// **************************************

/*--------BASE ELEMENT STYLES--------*/
*{
    box-sizing: border-box;
}

html{
    background: $color-bg;
}

body{
    position: relative;
    overflow-x: hidden;
    font-family: $font-stack-montserrat;
}

header{
    height: $header-height;
    background: $color-main;
    @extend %fixed-header-prop;
}

main{
    padding-top: 6.2em;
    width: 100%;
    background: $color-bg;
}

section{
    max-width: $max-width;
    margin: 0 auto; 
    background: $white;
}

hr{
    height: 3px;
    width: 30%;
    border-top: 2px solid $color-accent;
}


nav{
    padding-top: 6em;
    @include mq('lg'){
        padding-top: 0;
    }
}

p{
    font-family: $font-stack-roboto;
    text-align: left; 
    padding: 0 1em;
    margin: 0;
}

a{
    display: inline-block;
    color: $color-main;
    padding: .6em;
    &:hover{
        text-decoration: none;
        color: inherit;
    }
}

footer{
    height: $footer-height;
    background: $color-bg-darkest;
    color: $color-text-light;
}

/*-----HEADINGS------*/    
h1,
h2,
h3{
    margin: 0;
    padding: 0;
}

h1{
    padding: .7em .7em 1em;
    margin-right: auto;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 
                 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 
                 0 4px 0 #282828, 0 5px 0 #262626, 
                 0 6px 0 #242424, 0 7px 0 #222, 0 8px 
                 0 #202020, 0 9px 0 #1e1e1e, 0 10px 
                 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 
                 0 #181818, 0 13px 0 #161616, 0 14px 
                 0 #141414, 0 15px 0 #121212, 
                 0 22px 30px rgba(0,0,0,0.9);
   @include mq('lg'){
        margin-right: 0;
        width: 24%;
  }
}

h2{
    padding: .5em; 
}

h3{
    text-align: center;
    margin: 1em;
    padding-left: 25px;
}

h4{
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 1em;
}

h6{
    color: $color-main;
    margin: .5em auto !important;
    &:nth-of-type(2){
        margin-bottom: 1em;
    }
}

