*{
    box-sizing: border-box;
}

html{
    background: $color-bg;
}

body{
    position: relative;
    font-family: $font-stack-montserrat;
}

header{
    height: $header-height;
    background: $color-main;
    right: 0%;
    left:0;
    top:0;
    width: 100%;
    position: fixed;
}

main{
    padding-top: 6.2em;
    max-width: $max-width;
    width: 100%;
    margin: 0 auto; 
}

nav{
    padding-top: 6em;
}

h1::after{
    display: block;
    height: 2px;
    background-color: $color-accent;
    content: " ";

    margin: .2em 0 1em .0em;
}
    

h1,
h2,
h3{
    margin: 0;
    padding: 0;
}

